.App {
  font-family: sans-serif;
  text-align: center;
}
.refUse {
  margin: auto;
  display: grid;
  place-items: center;
  width: 250px;
  height: 50px;
  border: 1px solid steelblue;
  border-radius: 30px;
  color: steelblue;
  font-size: solid;
}
.refUse:hover {
  background-color: steelblue;
  color: white;
  cursor: pointer;
}
